<div class="dashboard-main">
  <div class="row">
    <div class="col-sm-3">
      <app-overview></app-overview>
    </div>
    <div class="col-sm-3">
      <app-notifications></app-notifications>
    </div>
    <div class="col-sm-3">
      <app-utilization></app-utilization>
    </div>
    <div class="col-sm-3">
      <app-actions></app-actions>
    </div>
  </div>
  <div class="row" style="margin-top: 20px;">
    <div class="col-sm-3">
      <app-assets-list></app-assets-list>
    </div>
    <div class="col-sm-9">
      <app-mapview ></app-mapview>
    </div>
  </div>
</div>
