<div class="action-main">
  <p class="title">Actions</p>
  <button type="button" data-bs-toggle="modal" data-bs-target="#registerAsset" class="custom-btn">Register Asset Tracker</button>
  <button type="button" data-bs-toggle="modal" data-bs-target="#configureRule" class="custom-btn">Configure Alert Rule</button>



  <div class="modal" id="registerAsset">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Register Asset Tracker</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form >
            <div class="mb-3 mt-3">
              <label for="name" class="form-label">Manger Name:</label>
              <input
                class="form-control"
                id="managerName"
                placeholder="Enter Name"
                name="managerName"
                [value]="name"
                (change)="onNameChange($event)"
              >
            </div>
            <div class="mb-3 mt-3">
              <label for="email" class="form-label">Manager Email:</label>
              <input
                class="form-control"
                id="managerEmail"
                placeholder="Enter Email"
                name="managerEmail"
                [value]="email"
                (change)="onEmailChange($event)"
              >
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password:</label>
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="Enter Password"
                name="password"
                [value]="password"
                (change)="onPasswordChange($event)"
              >
            </div>
            <div class="mb-3 mt-3">
              <label for="latitude" class="form-label">Latitude:</label>
              <input
                type="text"
                class="form-control"
                id="lat"
                placeholder="Enter Latitude"
                name="lat"
                [value]="latitude"
                (change)="onLatitudeChange($event)"
              >
            </div>
            <div class="mb-3">
              <label for="longitude" class="form-label">Longitude:</label>
              <input
                type="text"
                class="form-control"
                id="lng"
                placeholder="Enter Longitude"
                name="lng"
                [value]="longitude"
                (change)="onLongitudeChange($event)"
              >
            </div>
            <div class="mb-3">
              <label for="amount" class="form-label">Limit Amount:</label>
              <input
                type="number"
                class="form-control"
                id="maxAmount"
                placeholder="Enter Amount"
                name="maxAmount"
                [value]="maxAmount"
                (change)="onAmountChange($event )"
              >
            </div>
          </form>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="onRegister()">Register</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

  <div class="modal" id="configureRule">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Configure Alert Rule</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form >
            <div class="mb-3">
              <label for="limited_amount" class="form-label">Limited Amount:</label>
              <input
                type="number"
                class="form-control"
                id="limited_amount"
                placeholder="Enter Limited Amount"
                name="limited_amount"
                [value]="limitAmount"
                (change)="onSetLimitAmount($event)"
              >
            </div>
            <div class="mb-3" style="width: 300px;">
              <label for="expire_period" class="form-label">Expire Period:</label>
              <div class="period_group ">
                <input
                  type="number"
                  class="form-control"
                  id="expire_period"
                  placeholder="Enter Expire Period"
                  name="expire_period"
                  [value]="periodDay"
                  (change)="onSetPeriodDay($event)"
                >
                  <p>Day</p>
              </div>
            </div>
          </form>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="onSendAlert()">Send</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
</div>
