<div class="overview-main">
  <p class="title">Overview</p>
  <div class="list">
    <div class="list-item">
      <p class="label">Assets</p>
      <p class="value">2076</p>
    </div>
    <div class="list-item">
      <p class="label">Sites</p>
      <p class="value">14</p>
    </div>
    <div class="list-item">
      <p class="label">Zones</p>
      <p class="value">221</p>
    </div>
    <div class="list-item">
      <p class="label">Geofences</p>
      <p class="value">43</p>
    </div>
  </div>
</div>
