<div class="signup-main">
  <div class="header">Welcome to Assets Command / Control Center</div>
  <div class="body">
    <form >
      <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && onFormSubmit()">
        <div class="mb-3 mt-3">
          <label for="email" class="form-label">Email:</label>
          <input type="email" class="form-control" id="email" placeholder="Enter email" formControlName="email">
        </div>
        <div class="mb-3">
          <label for="pwd" class="form-label">Password:</label>
          <input type="password" class="form-control" id="pwd" placeholder="Enter password" formControlName="pwd">
        </div>
        <div class="mb-3">
          <label for="confirm_pwd" class="form-label">Confirm Password:</label>
          <input type="password" class="form-control" id="confirm_pwd" placeholder="Retype password" formControlName="confirm_pwd">
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </form>
    </form>
  </div>
</div>
