<div class="util-main">
  <div>
    <p class="title">
      Utilization
    </p>
    <p class="label">
      Last 30 days
    </p>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="list-item">
        <p class="percent">
          76%
        </p>
        <p class="label">
          Maximum
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="list-item">
        <p class="percent">
          18%
        </p>
        <p class="label">
          Average
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="list-item">
        <p class="percent">
          6%
        </p>
        <p class="label">
          Unused
        </p>
      </div>
    </div>
  </div>
</div>
