<div class="notifications-main">
  <p class="title">Alerts/Notificatoins</p>
  <div class="list">
    <div class="list-item">
      <p class="label">Low usage identified</p>
      <p class="value">4 min ago</p>
    </div>
    <div class="list-item">
      <p class="label">Gefence alert</p>
      <p class="value">21 hours ago</p>
    </div>
    <div class="list-item">
      <p class="label">Shock detected</p>
      <p class="value">3 days ago</p>
    </div>
    <div class="list-item">
      <p class="label">Batter low</p>
      <p class="value">4 days ago</p>
    </div>
  </div>
</div>
