.map-main {
  border : 2px solid #009688;
  height : 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;

  .map-container {
    width : 100%;
  }

  agm-map {
    height: 570px;
    width: 100%;
  }

  .agm-info-window {
    background-color: #ffffffc2;
    color: black;
    font-weight: bold;

    padding: 10px;

    .agm-info-header {
      display: flex;
      gap: 15px;
      align-items: flex-start;

      p {
        margin: 0px;
      }

      padding-bottom: 10px;
      border-bottom: 2px solid lightgray;
    }

    .agm-info-body {
      padding-top: 10px;
      color: blue;
      text-align: right;
    }
  }

  .modal-body {
    .command_line {
      border : 1px solid gray;
      border-radius: 20px;
      transition: 0.2s;
      padding : 10px;
      padding-left: 20px;
      cursor : pointer;
      margin-bottom: 10px;
    }

    .command_line:hover {
      background-color: lightgray;
    }

    .active {
      background-color: #009688;
      color: white;
    }

    .active:hover {
      background-color: #009688;
      border: 1px solid white;
    }
  }

  .detail {
    height: 250px;
    overflow: scroll;
    padding: 10px 20px;

    .list {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
