.signin-main {
  border: 2px solid #096688;
  border-radius: 10px;

  .header {
    border-bottom: 1px solid gray;
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
  }

  .body {
    padding: 20px;
    padding-top: 0px;
  }

  .alert {
    width: fit-content;
    height: 30px;
    padding: 0px;
  }
}
